.card {
    background-color: #00705E;
    color: white;
    padding: 30px;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card:hover {
    background-color: #ffffff;
    color:#00705E;
    transform: translateY(-7px);
    transition: all ease .3s;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  