.header {
    background-color: white;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    height: 4rem;
    gap: 10px;
  }
  
.logo {
    height: 50px;
  }
  
/* Responsivo: no celular, os cards ficam em coluna */
@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .header {
    height: 5rem;
    gap: 2px;
    justify-content: center;
    padding: 8px 15px;
  }

  .logo{
    height: 45px;
  }
}